<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="Game.Tetris.StartLevel" value="3" />
    <add key="Game.Tetris.Heuristic" value="GameBot.Game.Tetris.Heuristics.YiyuanLeeHeuristic" />
    <add key="Game.Tetris.Extractor.BlockThreshold" value="80" />
    
    <add key="Emulator.Rom.Path" value="Roms/tetris.gb" />
    
    <add key="Robot.Camera.Index" value="1" />
    
    <add key="Robot.Quantizer.Transformation.KeyPoints" value="100,0,540,0,0,480,640,480" />
    <add key="Robot.Quantizer.Threshold.Constant" value="5" />
    <add key="Robot.Quantizer.Threshold.BlockSize" value="13" />
    <add key="Robot.Quantizer.Threshold.MaxValue" value="255" />
    <add key="Robot.Quantizer.Threshold.AdaptiveThresholdType" value="MeanC" />
    <add key="Robot.Quantizer.Threshold.ThresholdType" value="Binary" />
    
    <add key="Robot.Engine.Mode" value="Emulator" />       
    
  </appSettings>  
</configuration>