<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  
  <appSettings>

    <add key="Game.Tetris.Initialize" value="true" />
    <add key="Game.Tetris.StartLevel" value="0" />
    <add key="Game.Tetris.Heuristic" value="GameBot.Game.Tetris.Searching.Heuristics.YiyuanLeeHeuristic" />
    <add key="Game.Tetris.Extractor.BlockThreshold" value="0.3" />

    <add key="Emulator.Rom.Path" value="Roms/tetris.gb" />

    <add key="Robot.Engine.Mode" value="Emulator" />

    <add key="Robot.Camera.Index" value="0" />

    <add key="Robot.Quantizer.Transformation.KeyPoints" value="623,439,18,431,551,74,136,90" />
    <add key="Robot.Quantizer.Threshold.Constant" value="5" />
    <add key="Robot.Quantizer.Threshold.BlockSize" value="13" />
    <add key="Robot.Quantizer.Threshold.MaxValue" value="255" />
    <add key="Robot.Quantizer.Threshold.AdaptiveThresholdType" value="MeanC" />
    <add key="Robot.Quantizer.Threshold.ThresholdType" value="Binary" />

    <add key="Robot.Actuator.Host" value="localhost" />
    <add key="Robot.Actuator.Port" value="4223" />
    <add key="Robot.Actuator.UidMaster" value="6JKbWn" />
    <add key="Robot.Actuator.UidRelay1" value="r5F" />
    <add key="Robot.Actuator.UidRelay2" value="mTC" />
    <add key="Robot.Actuator.UidTemp" value="qBx" />

  </appSettings>
  
</configuration>