<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>

    <add key="Game.Tetris.Initialize" value="true" />
    <add key="Game.Tetris.StartLevel" value="0" />
    <add key="Game.Tetris.StartFromGameOver" value="false" />
    
    <add key="Game.Tetris.Extractor.MeanThreshold" value="179" />
    <add key="Game.Tetris.Extractor.ProbabilityThreshold" value="0.8" />

    <add key="Game.Tetris.Extractor.MinimalProbability" value="0.9375" />
    
    <add key="Emulator.Rom.Path" value="Roms/tetris.gb" />

    <add key="Robot.Engine.Mode" value="Fast" />

    <add key="Robot.Camera.Index" value="1" />

    <add key="Robot.Quantizer.Transformation.KeyPoints" value="500,336,206,325,488,116,236,108" />
    <add key="Robot.Quantizer.Threshold.Constant" value="5" />
    <add key="Robot.Quantizer.Threshold.BlockSize" value="13" />
    <add key="Robot.Quantizer.Threshold.MaxValue" value="255" />
    <add key="Robot.Quantizer.Threshold.AdaptiveThresholdType" value="MeanC" />
    <add key="Robot.Quantizer.Threshold.ThresholdType" value="Binary" />

    <add key="Robot.Actuator.Host" value="localhost" />
    <add key="Robot.Actuator.Port" value="4223" />
    <add key="Robot.Actuator.UidMaster" value="6JKbWn" />
    <add key="Robot.Actuator.UidRelay1" value="r5F" />
    <add key="Robot.Actuator.UidRelay2" value="mTC" />
    <add key="Robot.Actuator.UidTemp" value="qBx" />

  </appSettings>
  
</configuration>